*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-left-medium {
  position: relative;
  left: -6rem; }

.u-left-big {
  position: relative;
  left: -32rem; }

.u-right-medium {
  position: relative;
  left: 6rem; }

@media (max-width: 1000px) {
  .u-left-medium,
  .u-left-big,
  .u-right-medium {
    left: 0; } }

.u-skew-10deg-right {
  transform: skew(10deg); }

.u-skew-10deg-left {
  transform: skew(-10deg); }

.u-empty-col {
  width: 100%;
  visibility: hidden; }

.u-move-up-medium {
  position: relative;
  top: -10rem; }

.u-move-up-big {
  position: relative;
  top: -18rem; }

.u-box-shadow {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8); }

.u-font-size-small {
  font-size: 2rem;
  text-align: center; }

.u-font-size-medium {
  font-size: 3rem;
  text-align: center; }

.u-font-size-big {
  font-size: 4rem;
  text-align: center; }

.u-weight-big {
  font-weight: 700; }

.u-under-line {
  text-decoration: underline; }

.u-hide-me {
  opacity: 0; }

.u-in-view {
  opacity: 1; }

.u-display-hidden {
  position: absolute;
  visibility: hidden; }

@keyframes moveInCenter {
  0% {
    opacity: 0;
    transform: scale(0.2); }
  100% {
    opacity: .8;
    transform: scale(1); } }

@keyframes percentageAnimation {
  0% {
    background-image: linear-gradient(to left, transparent 0%, transparent 100%, rgba(115, 194, 51, 0.8) 100%); }
  100% {
    background-image: linear-gradient(to left, transparent 0%, transparent 10%, rgba(115, 194, 51, 0.8) 10%); } }

@keyframes moveInsideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveTopToBottom {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #73c233;
  background-color: #fff;
  margin: 1rem;
  opacity: 0.8;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 1rem;
  padding: 1rem;
  font-family: 'Black Han Sans', sans-serif; }
  .heading-primary__animation {
    animation: moveInCenter .8s;
    animation-fill-mode: both; }
    .heading-primary__animation--1 {
      animation-delay: .8s; }

.secondary-heading {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 5rem;
  font-weight: 400;
  color: #73c233;
  margin-top: 3rem;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  transition: all .4s;
  border-bottom: 2px solid #73c233;
  margin-bottom: 2rem; }
  .secondary-heading:hover {
    transform: rotate(10deg) translateX(-50%) scale(1.1);
    color: #0d2542e7;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #0d2542e7; }

.paragraph {
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  color: #fff; }

.heading-tertiary {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase; }

.summary-header {
  font-size: 2rem;
  text-decoration: underline;
  color: white;
  display: block; }

@media (max-width: 1000px) {
  .heading-primary {
    font-size: 3rem; }
  .paragraph {
    font-size: 1.7rem;
    width: 90%; }
  .secondary-heading {
    font-size: 3rem; }
  .heading-tertiary {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase; }
  .summary-header {
    font-size: 1.5rem;
    text-decoration: underline;
    color: white;
    display: block; } }

.section-about {
  height: auto;
  position: relative;
  padding-bottom: 5rem;
  padding-top: 10rem; }
  .section-about__content {
    background-color: #0d2542e7;
    border-radius: 10px;
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 2rem; }
  .section-about__download-cv {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .section-about__text {
    padding-bottom: 2rem; }
  .section-about:target {
    transition: all 1 ease-in;
    animation-name: moveInsideFromLeft;
    animation-duration: 1s; }

.section-skills {
  background-color: #000, 0.8;
  position: relative;
  height: auto;
  padding-bottom: 10rem;
  transition: all 3s ease-in; }

.section-projects {
  height: auto;
  transition: all 3s ease-in; }

@media (max-width: 700px) {
  .section-about {
    height: auto; }
    .section-about__content {
      transform: skew(0deg); }
    .section-about__text {
      transform: skew(0deg); } }

.header {
  height: 100vh;
  width: 100%;
  position: relative; }
  .header__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation {
  z-index: 5000;
  width: 100%; }
  .navigation__checkbox {
    display: none;
    visibility: hidden; }
  .navigation__nav {
    height: 6rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: .5rem;
    margin: 0;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
  .navigation__list {
    flex-flow: row;
    list-style: none;
    display: flex;
    float: right;
    padding-right: .8rem; }
    .navigation__list::after {
      content: "";
      display: table;
      clear: both; }
  .navigation__item {
    display: flex;
    height: 100%;
    width: auto;
    font-weight: 400;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 2rem; }
  .navigation__link {
    transition: all .4s; }
    .navigation__link:link, .navigation__link:visited {
      text-decoration: none;
      color: #73c233; }
    .navigation__link:hover, .navigation__link:active {
      border-bottom: 2px solid #0d2542e7;
      color: #0d2542e7;
      transform: rotate(10deg) scale(1.2);
      background-color: rgba(255, 255, 255, 0.6); }
  .navigation__button {
    height: 4rem;
    width: 5rem;
    border-radius: 3px;
    right: 1rem;
    top: .5rem;
    z-index: 2000;
    position: absolute;
    visibility: hidden;
    display: block;
    border: 2px solid #73c233;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }

.flex-position {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.fixed-position {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0; }

.navigation-animation {
  animation: moveTopToBottom 2s; }

@media (max-width: 700px) {
  .navigation__list {
    opacity: 0;
    transition: all .2s; }
  .navigation__button {
    visibility: visible; }
  .navigation__checkbox:checked ~ .navigation__list {
    opacity: 1;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    width: 100%;
    align-items: center;
    height: 20rem; }
  .navigation__icon {
    position: relative;
    z-index: 3000; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      border-bottom: solid 2px #73c233;
      top: 1.6rem;
      width: 3rem;
      height: 3px;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    border: none; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(140deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-140deg); } }

.footer {
  height: 20rem;
  width: 100%;
  background-color: #f7f7f7c9; }
  .footer__text {
    font-size: 1.5rem;
    margin-top: 5rem;
    color: #777;
    text-align: center;
    text-transform: uppercase; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  animation: moveInCenter .4s 1.6s;
  animation-fill-mode: both;
  left: 25%;
  width: 50%;
  border: 2px solid #fff; }
  .btn .arrow-down {
    opacity: 0;
    display: none;
    visibility: hidden; }
  .btn:link, .btn:visited {
    transition: all .5s;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    display: inline-block; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active, .btn:hover {
    background-color: #fff;
    color: #73c233; }
    .btn:active .arrow-right, .btn:hover .arrow-right {
      opacity: 0;
      display: none;
      visibility: hidden; }
    .btn:active .arrow-down, .btn:hover .arrow-down {
      visibility: visible;
      display: inline;
      opacity: 1; }

.button-secondary {
  color: #0d2542e7;
  background-color: #f7f7f7c9;
  border-radius: 5px;
  font-size: 2rem;
  padding: .3rem;
  margin-bottom: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: all .5s;
  display: inline-block; }
  .button-secondary--position1 {
    position: absolute;
    bottom: 0;
    right: 1rem; }
  .button-secondary:link, .button-secondary:visited {
    text-decoration: none; }
  .button-secondary:active, .button-secondary:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .button-secondary:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #73c233; }

.profile-img {
  width: 25rem;
  height: 25rem;
  position: relative;
  display: block;
  margin: 3rem auto; }
  .profile-img__img {
    position: relative;
    width: 100%;
    box-shadow: 0 1rem 3rem #000;
    display: inline-block;
    border-radius: 50%; }

@media (max-width: 700px) {
  .profile-img {
    width: 15rem;
    height: 15rem; } }

.skill__group {
  margin: 0 auto;
  width: 55rem; }

.skill__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #0d2542e7;
  border-radius: 5px;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.8); }

.skill__item {
  width: 50rem;
  display: flex;
  flex-direction: row; }
  @media (max-width: 600px) {
    .skill__item {
      width: 30rem; } }

.skill__content {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #fff;
  background-image: linear-gradient(to left, transparent 0%, transparent 100%, rgba(115, 194, 51, 0.8) 100%);
  text-align: center;
  padding: 1rem;
  transition: all .3s; }
  .skill__content p {
    margin-bottom: 0; }
  .skill__content::after {
    content: "";
    display: table;
    clear: both; }
  .skill__content:not(:last-child) {
    margin-bottom: 1rem; }
  .skill__content:hover {
    transform: scale(1.1); }
  .skill__content--60:hover {
    background-image: linear-gradient(to left, transparent 0%, transparent 40%, rgba(115, 194, 51, 0.8) 40%); }
  .skill__content--70:hover {
    background-image: linear-gradient(to left, transparent 0%, transparent 30%, rgba(115, 194, 51, 0.8) 30%); }
  .skill__content--80:hover {
    background-image: linear-gradient(to left, transparent 0%, transparent 20%, rgba(115, 194, 51, 0.8) 20%); }
  .skill__content--90:hover {
    background-image: linear-gradient(to left, transparent 0%, transparent 10%, rgba(115, 194, 51, 0.8) 10%); }

.skill__experience {
  font-size: 2rem;
  display: flex;
  padding-left: 2rem;
  padding-top: 2rem;
  color: #fff; }
  .skill__experience p {
    margin-bottom: 0; }

.skill__text {
  font-size: 2rem;
  padding-top: 1rem;
  display: inline-block;
  position: absolute;
  right: 1rem; }
  @media (max-width: 600px) {
    .skill__text {
      float: none; } }

.skill__images {
  float: left;
  margin-right: 1rem;
  font-size: 3rem; }
  @media (max-width: 600px) {
    .skill__images {
      float: none; } }

.projects {
  width: 100%;
  position: relative;
  height: auto; }
  .projects__list {
    display: block;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0 auto;
    align-items: center; }
    .projects__list::after {
      content: "";
      display: table;
      clear: both; }
  .projects__item {
    margin: 2rem;
    width: 45%;
    position: relative;
    float: left; }
    .projects__item__content {
      background-color: #0d2542e7;
      position: relative;
      border: solid 2px #f7f7f7c9;
      border-radius: 6px;
      width: 100%;
      height: auto; }
      .projects__item__content::after {
        content: "";
        display: table;
        clear: both; }
    .projects__item__title {
      color: #0d2542e7;
      font-size: 3rem;
      font-weight: bold;
      background-color: #f7f7f7c9;
      position: relative;
      text-align: center; }
    .projects__item__image-container {
      float: left;
      height: 32rem;
      width: 25rem;
      margin-right: 3rem;
      margin-bottom: 1px; }
    .projects__item__image {
      width: 100%;
      height: 100%;
      margin: 0; }
    .projects__item__summary {
      margin: 1rem;
      font-size: 2rem;
      color: #fff; }

@media (max-width: 1400px) {
  .projects__item {
    margin-bottom: 2rem; }
    .projects__item__summary {
      font-size: 1.5rem; }
    .projects__item__title {
      font-size: 2rem; }
    .projects__item__image-container {
      height: 24rem;
      width: 17rem;
      margin-right: 3rem;
      margin-bottom: 1px; } }

@media (max-width: 1000px) {
  .projects__item {
    margin-bottom: 2rem;
    width: 80%;
    position: block;
    float: none;
    margin: 2rem auto; }
    .projects__item__summary {
      font-size: 1.5rem; } }

@media (max-width: 600px) {
  .projects__item {
    margin-bottom: 2rem;
    width: 80%;
    position: block;
    float: none;
    margin: 2rem auto; }
    .projects__item__summary {
      font-size: 1.2rem; }
    .projects__item__image-container {
      height: 20rem;
      width: 13rem;
      margin-right: 3rem;
      margin-bottom: 1px; } }

.contact-form__content {
  width: 40rem;
  outline-offset: 2rem;
  outline: 1.5rem solid #73c233;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  align-items: left;
  margin: 10rem auto;
  display: flex;
  flex-direction: column; }

.contact-form__label {
  display: hidden; }

.contact-form__input {
  transition: all .5s;
  display: flex;
  font-size: 2rem;
  margin-bottom: .3rem; }
  .contact-form__input--top {
    border-radius: 5px 5px 0 0; }
  .contact-form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #73c233; }
  .contact-form__input:focus:invalid {
    border-bottom: 3px solid orange; }

.contact-form__message {
  font-size: 2rem; }

.contact-form__submit {
  border-radius: 0 0 5px 5px;
  margin-bottom: 0; }

.message-visible {
  position: relative;
  visibility: visible; }

@media (max-width: 900px) {
  .contact-form__content {
    width: 30rem; } }

.social-network__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2rem; }

.social-network__item {
  position: relative;
  display: flex;
  padding: .8rem;
  margin: 0 1rem;
  background-color: #fff; }

.social-network__link {
  transition: all .3s; }
  .social-network__link:link, .social-network__link:visited {
    text-decoration: none;
    color: #777; }
  .social-network__link:hover {
    color: #73c233;
    transform: scale(1.2); }

.social-network__icon {
  font-size: 5rem; }
