*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.85); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-left-medium {
  position: relative;
  left: -6rem; }

.u-left-big {
  position: relative;
  left: -32rem; }

.u-right-medium {
  position: relative;
  left: 6rem; }

@media (max-width: 1000px) {
  .u-left-medium,
  .u-left-big,
  .u-right-medium {
    left: 0; } }

.u-skew-10deg-right {
  transform: skew(10deg); }

.u-skew-10deg-left {
  transform: skew(-10deg); }

.u-empty-col {
  width: 100%;
  visibility: hidden; }

.u-move-up-medium {
  position: relative;
  top: -10rem; }

.u-move-up-big {
  position: relative;
  top: -18rem; }

.u-box-shadow {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8); }

.u-font-size-small {
  font-size: 3rem;
  text-align: center; }

.u-font-size-medium {
  font-size: 4rem;
  text-align: center; }

.u-font-size-big {
  font-size: 5rem;
  text-align: center; }

@keyframes moveInCenter {
  0% {
    opacity: 0;
    transform: scale(0.2); }
  100% {
    opacity: .8;
    transform: scale(1); } }

@keyframes moveInsideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #82d63e;
  background-color: #fff;
  margin: 1rem;
  opacity: 0.8;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 1rem;
  padding: 1rem; }
  .heading-primary__animation {
    animation: moveInCenter .8s;
    animation-fill-mode: both; }
    .heading-primary__animation--1 {
      animation-delay: .8s; }

.secondary-heading {
  font-size: 5rem;
  font-weight: 400;
  color: #82d63e;
  margin-top: 3rem;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  transition: all .4s;
  border-bottom: 2px solid #82d63e;
  margin-bottom: 2rem; }
  .secondary-heading:hover {
    transform: rotate(10deg) translateX(-50%) scale(1.1);
    color: #0d2542e7;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #0d2542e7; }

.paragraph {
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  color: #fff; }

.heading-tertiary {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase; }

.summary-header {
  font-size: 2.5rem;
  text-decoration: underline;
  color: white;
  display: block; }

@media (max-width: 700px) {
  .heading-primary {
    font-size: 3rem; }
  .paragraph {
    font-size: 1.7rem;
    width: 90%; }
  .secondary-heading {
    font-size: 3rem; }
  .heading-tertiary {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase; } }

.section-about {
  height: auto;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 5rem; }
  .section-about__content {
    background-color: #0d2542e7;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 2rem; }
  .section-about__download-cv {
    position: relative;
    height: 7rem; }
  .section-about__text {
    padding-bottom: 2rem; }
  .section-about:target {
    transition: all 1 ease-in;
    animation-name: moveInsideFromLeft;
    animation-duration: 1s; }

.section-skills {
  background-color: #000, 0.8;
  position: relative;
  height: auto;
  padding-bottom: 10rem; }

.section-projects {
  height: auto; }

@media (max-width: 700px) {
  .section-about {
    height: auto; }
    .section-about__content {
      transform: skew(0deg); }
    .section-about__text {
      transform: skew(0deg); } }

.header {
  height: 100vh;
  width: 100%;
  position: relative; }
  .header__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%; }
  .navigation__checkbox {
    display: none;
    visibility: hidden; }
  .navigation__nav {
    height: 6rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: .5rem;
    margin: 0;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
  .navigation__list {
    flex-flow: row;
    list-style: none;
    display: flex;
    float: right;
    padding-right: .8rem; }
    .navigation__list::after {
      content: "";
      display: table;
      clear: both; }
  .navigation__item {
    display: flex;
    height: 100%;
    width: auto;
    font-weight: 400;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 2rem; }
  .navigation__link {
    transition: all .4s; }
    .navigation__link:link, .navigation__link:visited {
      text-decoration: none;
      color: #82d63e; }
    .navigation__link:hover, .navigation__link:active {
      border-bottom: 2px solid #0d2542e7;
      color: #0d2542e7;
      transform: rotate(10deg) scale(1.2);
      background-color: rgba(255, 255, 255, 0.6); }
  .navigation__button {
    height: 4rem;
    width: 5rem;
    border-radius: 3px;
    right: 1rem;
    top: .5rem;
    z-index: 2000;
    position: absolute;
    visibility: hidden;
    display: block;
    border: 2px solid #82d63e;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }

@media (max-width: 700px) {
  .navigation__list {
    opacity: 0;
    transition: all .2s; }
  .navigation__button {
    visibility: visible; }
  .navigation__checkbox:checked ~ .navigation__list {
    opacity: 1;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    width: 100%;
    align-items: center;
    height: 20rem; }
  .navigation__icon {
    position: relative;
    z-index: 3000; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      border-bottom: solid 2px #82d63e;
      top: 1.6rem;
      width: 3rem;
      height: 3px;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    border: none; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(140deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-140deg); } }

.footer {
  height: 20rem;
  width: 100%;
  background-color: #82d63e; }
  .footer__text {
    font-size: 2rem;
    color: #fff;
    text-align: center; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  animation: moveInCenter .4s 1.6s;
  animation-fill-mode: both;
  left: 25%;
  width: 50%;
  border: 2px solid #fff; }
  .btn .arrow-down {
    opacity: 0;
    display: none;
    visibility: hidden; }
  .btn:link, .btn:visited {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    display: inline-block; }
  .btn:active, .btn:hover {
    background-color: #fff;
    color: #82d63e; }
    .btn:active .arrow-right, .btn:hover .arrow-right {
      opacity: 0;
      display: none;
      visibility: hidden; }
    .btn:active .arrow-down, .btn:hover .arrow-down {
      visibility: visible;
      display: inline;
      opacity: 1; }

.button-secondary {
  color: #0d2542e7;
  background-color: #82d63e;
  border-radius: 5px;
  font-size: 2rem;
  padding: .5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase; }
  .button-secondary--position1 {
    position: absolute;
    bottom: 0;
    right: 1rem; }
  .button-secondary--position2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .button-secondary:link, .button-secondary:visited {
    text-decoration: none; }
  .button-secondary:hover {
    color: #fff; }

.profile-img {
  width: 30rem;
  height: 30rem;
  position: relative;
  display: block;
  margin: 3rem auto; }
  .profile-img__img {
    position: relative;
    width: 100%;
    box-shadow: 0 1rem 3rem #000;
    display: inline-block;
    border-radius: 50%; }

@media (max-width: 700px) {
  .profile-img {
    width: 20rem;
    height: 20rem; } }

.skill {
  width: 20rem;
  height: 20rem;
  transform: rotate(45deg);
  background-color: white;
  box-shadow: 0 1rem 2rem #000; }
  .skill__shape {
    transform: rotate(-45deg);
    position: relative;
    padding: 2rem;
    width: 20rem;
    height: 20rem; }
  .skill__text {
    text-align: center;
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1rem;
    color: #433d3c; }
  .skill__img {
    padding: 1rem; }

.skills {
  background-color: #0d2542e7; }

@media (max-width: 767px) {
  .skill {
    transform: scale(0.8) rotate(45deg);
    margin: 0 auto; }
  .skills {
    margin-left: 3rem;
    margin-right: 3rem; } }

.projects__list {
  display: flex;
  flex-flow: row;
  list-style: none; }

.projects__item {
  margin: 2rem;
  width: 60rem;
  position: relative; }
  .projects__item__content {
    background-color: #0d2542e7;
    position: relative;
    border: solid 2px #82d63e;
    border-radius: 6px;
    width: 60rem;
    height: 37rem; }
  .projects__item__title {
    color: #0d2542e7;
    font-size: 3rem;
    font-weight: bold;
    background-color: #82d63e;
    position: relative;
    text-align: center; }
  .projects__item__image-container {
    float: left;
    height: 32rem;
    width: 25rem;
    margin-right: 3rem;
    margin-bottom: 1px; }
  .projects__item__image {
    width: 100%;
    height: 100%;
    margin: 0; }
  .projects__item__summary {
    margin: 1rem;
    font-size: 2rem;
    color: #fff; }

@media (max-width: 1500) {
  .projects__list {
    transform: scale(0.8); } }

@media (max-width: 1000px) {
  .projects__list {
    position: relative;
    top: -12rem;
    left: -7.5rem;
    flex-flow: column;
    transform: scale(0.7); }
  .projects__item {
    margin-bottom: 2rem;
    display: block; }
    .projects__item__content {
      width: 55rem; }
    .projects__item__summary {
      font-size: 1.8rem; } }
