$grid-width:130rem;
$gutter-vertical:1rem;
$gutter-horizontal:6rem;

$color-grey-light-1:#f7f7f7;
$default-font-size:1.6rem;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-primary-green:rgb(130, 214, 62);
$color-primary-green-dark:rgb(65, 105, 68);

$color-primary-blue:#0d2542e7;
$color-primary-blue-light:#3266a7e7;