$grid-width:130rem;
$gutter-vertical:1rem;
$gutter-horizontal:6rem;

$color-grey-light-1:#f7f7f7;
$default-font-size:1.6rem;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-primary-purple:#528;
$color-primary-pink:#F08;