.btn {
    animation:moveInCenter .4s 1.6s;
    animation-fill-mode: both;
    left: 25%;
    width:50%;
    border: 2px solid $color-white;
    transition: all .5s;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    color: $color-white;

    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    text-transform: uppercase;
 
    position: relative;
    display: inline-block;
    & .arrow-down {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    
    &:active,
    &:focus{
       
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &:active,
    &:hover {

        & .arrow-right {
            opacity: 0;
            display: none;
            visibility: hidden;

        }

        & .arrow-down {
            visibility: visible;
            display: inline;
            opacity: 1;
        }

        background-color:$color-white;
        color:$color-green-light;
    }

}

.button-secondary {

    color: $color-primary-blue;
    background-color: $color-grey-light-1;
    border-radius: 5px;
    font-size: 2rem;
    padding: .3rem;
    margin-bottom: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: transform background-color color .5s;
    display: inline-block;
    
    &--position1 {
        position: absolute;
        bottom: 0;
        right: 1rem;
    }

    &:link,
    &:visited {
        text-decoration: none;
    }

    &:active,
    &:focus{

        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &:hover {
        // text-decoration: underline;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        color: $color-white;
        background-color: $color-green-light;
    }
    @media (max-width:1200px){
        font-size: 1.3rem;
        margin-bottom: .5rem;
        right: .5rem;
    }
}