.projects {

    &__list {
        height: auto;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: auto;
        margin: 2rem auto;
        padding-left: 0;
        align-items: center;
        justify-content: center;

        padding: 2rem;
    }

    &__group {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;

        @media(max-width:900px) {
            flex-direction: column;
        }

    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 50rem;
        position: relative;
        z-index: 1000;
        transition: all .3s ease-in;
        border-radius: 5px;
        // overflow: hidden;
        box-shadow: 0rem 2rem 2rem rgba($color-black, .6);

        &__title {
            color: $color-primary-blue;
            font-size: 3rem;
            font-weight: bold;
            visibility: hidden;
            background-color: $color-grey-light-1;
            @include absCenter;
            z-index: 3000;

        }

        &__image {
            width: 100%;


        }

        &__modal {
            visibility: hidden;
            position: absolute;
            width: 50rem;
            bottom: 0;
            height: 13rem;
            background-color: rgba($color-grey-dark, .8);

        }

        &__summary {
            font-size: 1.8rem;
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 0 2rem 1rem 1rem;
            color: $color-white;
            position: absolute;

        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                transform: scale(1.1);
                background-color: red;
                z-index: 2000;
            }

            &:hover>&__modal {
                visibility: visible;
            }

            &:hover>&__title {
                visibility: visible;
            }

            &:hover>&__image {
                filter: blur(4px);
            }
        }


        @media(max-width:1200px) {
            width: 40rem;

            &__title {
                font-size: 2.5rem;
            }

            &__summary {
                font-size: 1.5rem;
            }

            &__modal {
                width: 40rem;
                height: 11rem;
            }
        }

        @media(max-width:700px) {
            width: 35rem;
            margin: 1rem;

            &__title {
                font-size: 2rem;

            }

            &__summary {
                font-size: 1rem;
            }

            &__modal {
                position: relative;
                visibility: visible;
                width: 35rem;
                height: 9.5rem;
            }
        }

    }
}