.profile-img{
    width:25rem;
    height: 25rem;
    position: relative;
    display: block;
    margin: 3rem auto;
    
    &__img{
        position: relative;
        width: 100%;
        box-shadow: 0 1rem 3rem $color-black; 
        // transform: skew(10deg);
        display:inline-block;
        border-radius: 50%;
    
    }
}

@media(max-width:700px){
    .profile-img{
        width:15rem;
        height: 15rem;
    }
}