.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem;
}

.u-margin-top-big {
    margin-top: 8rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}


.u-left-medium{
    position: relative;
    left: -6rem;
}

.u-left-big{
    position: relative;
    left: -32rem;
}



.u-right-medium{
    position: relative;
    left: 6rem;
}
@media(max-width:1000px){
    .u-left-medium,
    .u-left-big,
    .u-right-medium
    {
        // position: relative;
        left: 0;
    }
    
}

.u-skew-10deg-right{
    transform: skew(10deg);
}

.u-skew-10deg-left{
    transform: skew(-10deg);
}
.u-empty-col {
    width: 100%;
    visibility: hidden;
}

.u-move-up-medium{
    position: relative;
    top: -10rem;
}

.u-move-up-big{
    position: relative;
    top: -18rem;
}

.u-box-shadow{
    box-shadow: 0 1rem 3rem rgba($color-black, .8);
}
.u-font-size-small {
    font-size: 2rem;
    text-align: center;
    @media(max-width:700px){
        font-size: 1rem;
    }

}

.u-font-size-medium {
    font-size: 3rem;
    text-align: center;
    @media(max-width:700px){
        font-size: 2rem;
    }
}

.u-font-size-big {
    font-size: 4rem;
    text-align: center;
    @media(max-width:700px){
        font-size: 3rem;
    }
}


.u-weight-big
{
    font-weight: 700;
} 
.u-under-line{
    text-decoration: underline;
}
// .u-hide-me{
//     opacity: 0;
// }

// .u-in-view{
//     opacity: 1;
// }

.u-display-hidden{
    position: absolute;
    visibility: hidden;
}

//animation

.u-animate-left-to-right{
    animation:moveInsideFromLeft 1.2s;
}

.u-animate-right-to-left{
    animation:moveInsideFromRight 1.2s;
}

// .u-disable-hover{
//     pointer-events: none;
// }
.u-fill-in-animation{
    animation-fill-mode: both;
    animation-timing-function: linear;
    &--60{
        animation:percentageAnimation60 2s;
    }
    &--70{
        animation:percentageAnimation70 2s;
    }
    &--80{
        animation:percentageAnimation80 2s;
    }
    &--90{
        animation:percentageAnimation90 2s;
    }

}