
.u-center-text{text-align: center !important;}
.u-margin-bottom-big{margin-bottom: 6rem;}
.u-margin-top-big{margin-top: 6rem;}

.u-empty-col{
    width: 100%;
    visibility: hidden;
}

.u-font-size-small{
    font-size: 3rem;
    text-align: center;

}

.u-font-size-medium{
    font-size: 4rem;
    text-align: center;
}

.u-font-size-big{
    font-size: 5rem;
    text-align: center;
    
}