.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-top-big {
    margin-top: 8rem;
}


.u-left-medium{
    position: relative;
    left: -6rem;
}

.u-left-big{
    position: relative;
    left: -32rem;
}



.u-right-medium{
    position: relative;
    left: 6rem;
}
@media(max-width:1000px){
    .u-left-medium,
    .u-left-big,
    .u-right-medium
    {
        // position: relative;
        left: 0;
    }
    
}

.u-skew-10deg-right{
    transform: skew(10deg);
}

.u-skew-10deg-left{
    transform: skew(-10deg);
}
.u-empty-col {
    width: 100%;
    visibility: hidden;
}

.u-move-up-medium{
    position: relative;
    top: -10rem;
}

.u-move-up-big{
    position: relative;
    top: -18rem;
}

.u-box-shadow{
    box-shadow: 0 1rem 3rem rgba($color-black, .8);
}
.u-font-size-small {
    font-size: 3rem;
    text-align: center;

}

.u-font-size-medium {
    font-size: 4rem;
    text-align: center;
}

.u-font-size-big {
    font-size: 5rem;
    text-align: center;

}