
.section-about {
    height: auto;
    position: relative;
    padding-bottom: 5rem;
    padding-top: 10rem;
    &__content {
        background-color: $color-primary-blue;
        border-radius: 10px;
        width: 60%;
        height: auto;
        margin: 0 auto;
        padding: 2rem;
    }

    &__download-cv{
       margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__text {
        padding-bottom: 2rem;
        // transform: skew(10deg);
    }

    &:target {
        transition: all 1 ease-in;
        // clear: both;
        animation-name: moveInsideFromLeft;
        animation-duration: 1s;

    }
}
.section-skills {
    background-color:($color-black,.8);
    position: relative;
    height: auto;
    padding-bottom: 10rem;
    transition: all 3s ease-in;
}

.section-projects{
    height: auto;
    transition: all 3s ease-in;

}
@media (max-width: 700px) {
    .section-about{
        height: auto;
        &__content{
            // margin: 0 1rem;
            width: 80%;
            transform: skew(0deg);
        }
        &__text {
           
          transform: skew(0deg);
        }
    }
}