
.section-about {
    height: auto;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 5rem;
    &__content {
        background-color: $color-primary-blue;
        width: 80%;
        height: auto;
        margin: 0 auto;
        padding: 2rem;
    }

    &__download-cv{
       position: relative;
       height: 7rem;
    }
    &__text {
        padding-bottom: 2rem;
        // transform: skew(10deg);
    }

    &:target {
        transition: all 1 ease-in;
        // clear: both;
        animation-name: moveInsideFromLeft;
        animation-duration: 1s;

    }
}
.section-skills {
    background-color:($color-black,.8);
    position: relative;
    height: auto;
    padding-bottom: 10rem;
}

.section-projects{
    height: auto;
}
@media (max-width: 700px) {
    .section-about{
        height: auto;
        &__content{

            transform: skew(0deg);
        }
        &__text {
           
          transform: skew(0deg);
        }
    }
}